name: YAML Lint

'on':
  push:
    paths:
      - ".github/workflows/*.yml"
      - ".github/workflows/*.yaml"
      - ".yamllint"
      - ".yamllint.yml"
  pull_request:
    paths:
      - ".github/workflows/*.yml"
      - ".github/workflows/*.yaml"
      - ".yamllint"
      - ".yamllint.yml"

jobs:
  yamllint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Lint workflow YAML files
        uses: ibiqlik/action-yamllint@v3
        with:
          file_or_dir: .github/workflows
          config_data: |
            extends: default
            rules:
              document-start: disable
